# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Local Project Files
/target/
.project
.settings

/start/jre-11.0.8-2/

# Ressources personnelles
src\main\resources\crypto-*
src\main\resources\save